<main>
  <section class="master-card">
    <h2>Teksty i tagi</h2>
    <div class="cards">
      <div class="card-row">
        <h3>Email</h3>
        <div class="card">
          <p>
            Witam,
            <br />
            z tej strony Tomasz Dziubas, z firmy Megadach. Jestem dystrybutorem
            Państwa produktów w Tarnowskich Górach i mam problem z wykonaniem
            wyceny na dach spadzisty o powierzchni 250m2 dla domku
            jednorodzinnego. Czy mógłbym prosić o spotkanie z Państwa
            konsultanem w tej sprawie? Pozdrawiam,
          </p>
          <p>T.Dziubas</p>
        </div>
        <div class="card">
          <div class="tag">problem: "<strong>wycena</strong>"</div>
          <div class="tag">dystrybutor: "<strong>Megadach</strong>"</div>
          <div class="tag">lokalizacja: "<strong>Ternowskie Góry</strong>"</div>
          <div class="tag">
            typ_inwestycji: "<strong>dom_jednorodzinny</strong>"
          </div>
          <div class="tag">powierzchnia: "<strong>250 m2</strong>"</div>
        </div>
      </div>
      <hr />
      <div class="card-row">
        <h3>Umowa z dostawcą</h3>
        <div class="card">
          <p>
            zawarta w dniu <strong>10.09.2024</strong> w Katowicach, pomiędzy:
          </p>
          <p>
            <strong>ArcelorMittal Spółka Akcyjna</strong> z siedzibą w
            Katowicach, działającą pod adresem: ul. Stalowa 1, 40-085 Katowice,
            wpisaną do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego pod
            numerem KRS 0000035611, o kapitale zakładowym w wysokości
            300.000.000,00 złotych, posługującą się numerem NIP 9542249002,
            reprezentowaną przez:
          </p>
          <p>…</p>
        </div>
        <div class="card">
          <div class="tag">data_podpisania: "<strong>10.09.2024</strong>"</div>
          <div class="tag">dostawca: "<strong>ArcelorMittal SA</strong>"</div>
          <div class="tag">
            wartosc_zamowienia: "<strong>500 000,00</strong>"
          </div>
          <div class="tag">waluta_zamowienia: "<strong>PLN</strong>"</div>
          <div class="tag">data_dostawy: "<strong>12.12.2024</strong>"</div>
        </div>
      </div>
      <hr />
      <div class="card-row">
        <h3>Dokument techniczny</h3>
        <div class="card">
          <p>
            <strong> 1. Opis Produktu </strong>
          </p>
          <p>Kwadratowy Stalowy System Rynnowy Flamingo iQ to</p>
          <p>…</p>
          <p>
            <strong> 2. Skład systemu </strong>
          </p>
          <p>
            Kwadratowy Stalowy System Rynnowy Flamingo iQ składa się z
            następujących elementów:
          </p>
          <ul>
            <li>
              <strong>Rynny</strong>: Kwadratowy przekrój, dostępne w
              długościach 2 m, 3 m i 4 m.
            </li>
            <li>
              <strong>Rury spustowe</strong>: Kwadratowy przekrój, wymiary: 80 x
              80 mm, dostępne w długościach 1 m, 2 m, 3 m.
            </li>
            <li>
              <strong>Uchwyty do rynien</strong>: Wykonane ze stali nierdzewnej,
              mocowane bezpośrednio do konstrukcji dachu.
            </li>
            <li>
              <strong>Łączniki rynien</strong>: Umożliwiają łączenie odcinków
              rynien w sposób trwały i szczelny.
            </li>
          </ul>
          <p>…</p>
        </div>
        <div class="card">
          <div class="tag">produkt: "<strong>Flamingo iQ</strong>"</div>
          <div class="tag">kategoria: "<strong>systemy_rynnowe</strong>"</div>
        </div>
      </div>
    </div>
  </section>
  <div class="part2">
    <section>
      <app-card
        [icon]="icon1"
        heading="Przypisywanie pracownika"
        description="Bazując na informacjach wygiągniętych z tekstu możemy do danego zadania przypisać konkretną osobę z firmy"
      />
    </section>
    <section>
      <app-card
        [icon]="icon2"
        heading="Pobieranie danych"
        description="Tagi umożliwiają nam wyszkukiwanie odpowiadających treści tekstu informacji, którą możemy wykorzystać do odpowiedzi"
      />
    </section>
    <section>
      <app-card
        [icon]="icon3"
        heading="Przechowywanie danych"
        description="Możemy przechowywać w ustruktyrozowany sposób dane, które wcześniej były tylko tekstem"
      />
    </section>
  </div>
  <section class="rags">
    <div class="rag-card">
      <h3>Dachy płaskie</h3>
      <div class="skeleton" style="width: 90%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 74%"></div>
      <div class="skeleton" style="width: 84%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 95%"></div>
      <div class="skeleton" style="width: 75%"></div>
      <div class="skeleton" style="width: 75%"></div>
      <div class="skeleton" style="width: 77%"></div>
      <div class="skeleton" style="width: 85%"></div>
      <div class="skeleton" style="width: 79%"></div>
      <div class="skeleton" style="width: 90%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 69%"></div>
    </div>
    <div class="rag-card">
      <h3>Dachy spadziste</h3>
      <div class="skeleton" style="width: 84%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 74%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 90%"></div>
      <div class="skeleton" style="width: 95%"></div>
      <div class="skeleton" style="width: 75%"></div>
      <div class="skeleton" style="width: 75%"></div>
      <div class="skeleton" style="width: 85%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 79%"></div>
      <div class="skeleton" style="width: 77%"></div>
      <div class="skeleton" style="width: 90%"></div>
      <div class="skeleton" style="width: 40%"></div>
    </div>
    <div class="rag-card">
      <h3>Dachy mansardowe</h3>
      <div class="skeleton" style="width: 74%"></div>
      <div class="skeleton" style="width: 84%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 90%"></div>
      <div class="skeleton" style="width: 79%"></div>
      <div class="skeleton" style="width: 95%"></div>
      <div class="skeleton" style="width: 90%"></div>
      <div class="skeleton" style="width: 75%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 77%"></div>
      <div class="skeleton" style="width: 75%"></div>
      <div class="skeleton" style="width: 80%"></div>
      <div class="skeleton" style="width: 85%"></div>
      <div class="skeleton" style="width: 50%"></div>
    </div>
  </section>
  <section class="workflows">
    <h2>Workflow</h2>
    <div class="workflow w1">
      <div class="workflow-item">
        Dostajemy email z prośbą o pomoc w wycenie i przetwarzamy jego treść
      </div>
      <div class="workflow-item">
        Dobieramy z firmowych zasobów odpowiedni plik, który pomoże wykonać
        wycenę i dodajemy jego treść do maila (RAG) albo wyciągamy z firmowej
        bazy danych najbardziej podobny projekt
      </div>
      <div class="workflow-item">
        Komponujemy maila zawierającego odpowiedź na pytanie dystybutora
      </div>
      <div class="workflow-item">
        Przekazujemy maila do akceptacji do wybranego na podstawie treści
        wiadomości konsultanta
      </div>
    </div>
    <div class="workflow w2">
      <div class="workflow-item">
        Dostajemy email z prośbą o pomoc w wycenie i przetwarzamy jego treść
        (brakuje nam informacji o typie problemu więc proces jest zatrzymywany)
      </div>
      <div class="workflow-item disabled">
        Dobieramy z firmowych zasobów odpowiedni plik, który pomoże wykonać
        wycenę (RAG)
      </div>
      <div class="workflow-item disabled">
        Wyciągamy z firmowej bazy danych najbardziej podobny projekt, który
        pomoże wykonać wycenę (DB)
      </div>
      <div class="workflow-item disabled">
        Komponujemy maila zawierającego wszystkie te materiały
      </div>
      <div class="workflow-item disabled">
        Przekazujemy maila do wybranego na podstawie treści wiadomości
        konsultanta
      </div>
    </div>
  </section>
</main>

<ng-template #icon1>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    viewBox="0 0 24 24"
    style="enable-background: new 0 0 24 24"
  >
    <style type="text/css">
      .st0 {
        fill: none;
        stroke: currentColor;
        stroke-width: 1.5;
        stroke-miterlimit: 10;
      }
    </style>
    <g>
      <path
        class="st0"
        d="M12,11.25c2.278,0,4.125-1.847,4.125-4.125S14.278,3,12,3C9.722,3,7.875,4.847,7.875,7.125 S9.722,11.25,12,11.25z"
      />
      <path class="st0" d="M20,21c0-5-5.5-5.673-8-5.673S4,16,4,21" />
    </g>
  </svg>
</ng-template>
<ng-template #icon2>
  <svg
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="enable-background: new 0 0 24 24"
  >
    <g>
      <path
        d="M11.9994 14.1431V4.07996M11.9994 14.1431L8.55658 10.4353M11.9994 14.1431L15.4421 10.4353"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M4.32001 14.6738V16.263C4.32001 18.0176 5.74302 19.4406 7.49761 19.4406H16.5018C18.2564 19.4406 19.6794 18.0176 19.6794 16.263V14.6738"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </g>
  </svg>
</ng-template>
<ng-template #icon3>
  <svg
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="enable-background: new 0 0 24 24"
  >
    <g>
      <path
        d="M4.42188 6V11.9997C4.42188 11.9997 4.42188 14.9994 12.0005 14.9994C19.5792 14.9994 19.5792 11.9997 19.5792 11.9997V6"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M4.42188 12V17.9996C4.42188 17.9996 4.42188 21.0004 12.0005 21.0004C19.5792 21.0004 19.5792 17.9996 19.5792 17.9996V12"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M12.0005 9.03766C16.1861 9.03766 19.5792 7.68608 19.5792 6.01883C19.5792 4.35158 16.1861 3 12.0005 3C7.81496 3 4.42188 4.35158 4.42188 6.01883C4.42188 7.68608 7.81496 9.03766 12.0005 9.03766Z"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </g>
  </svg>
</ng-template>
